.bg-img {
    /* The image used */
    background-image: url("Title bg.png");
    min-height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
}

.profile-img {
    height: 200px;
    border-radius: 50%;
}

.name{
    /* font-family: "Lobster", sans-serif; */
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 100px;
    font-style: normal;
}

#footer{
    background-color: gainsboro;
}

